# vim: noexpandtab: tabstop=4: shiftwidth=4
[user]
	name = Chris DeLuca
	email = iam@chrisdeluca.me
	signingkey = 461C015E032EF9CB
[alias]
	co = checkout
	cm = commit
	st = status
	br = branch
	cl = clone
	cp = cherry-pick
	hist = log --pretty=format:\"%C(yellow)%h%Cred%d\\ %Creset%ad | %s%d %Cblue[%an]%Creset\" --graph --date=short --date=relative --no-merges 
	mist = log --pretty=format:\"%C(yellow)%h%Cred%d\\ %Creset%ad | %s%d %Cblue[%an] %C(cyan)%G?%Creset\" --graph --date=short --date=relative
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	filelog = log -u
	fl = log -u
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
	dr  = "!f() { git diff "$1"^.."$1"; }; f"
	lc  = "!f() { git ll "$1"^.."$1"; }; f"
	diffr  = "!f() { git diff "$1"^.."$1"; }; f"
	la = "!git config -l | grep alias | cut -c 7-"
	ours = "!f() { git co --ours $@ && git add $@; }; f"
	theirs = "!f() { git co --theirs $@ && git add $@; }; f"
	type = cat-file -t
	dump = cat-file -p
	grep = grep --break --heading --line-number
	g = grep --break --heading --line-number
	po = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	pd = "!git push deploy $(git rev-parse --abbrev-ref HEAD)"
	up = pull --rebase --autostash --all
	ticket = "!git branch | grep '\\*' | cut -d '-' -f 1,2 | cut -d '/' -f 2"
	cb = "!git branch | grep '\\*' | cut -d ' ' -f 2"
	ctags = !.git/hooks/ctags
[color]
	ui = auto
[credential]
	helper = cache
[push]
	default = simple
[grep]
	lineNumber = true
[merge]
	conflictstyle = diff3
	tool = Kaleidoscope
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[mergetool "nfugitive"]
	cmd = nvr -f -c "Gdiff" "$MERGED"
[diff]
	tool = nvr
[difftool "nvr"]
	cmd = nvr -s -d \"$LOCAL\" \"$REMOTE\"
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[github]
	user = bronzehedwick
[commit]
	gpgsign = true
[advice]
	statusHints = false
