# vim: set noexpandtab
[user]
	name = Chris DeLuca
	email = bronzehedwick@gmail.com
	signingkey = 461C015E032EF9CB
[core]
	editor = nvr --remote-wait-silent
[alias]
	co = checkout
	cm = commit
	st = status
	br = branch
	cl = clone
	cp = cherry-pick
	hist = log --pretty=format:\"%C(yellow)%h%Cred%d\\ %Creset%ad | %s%d %Cblue[%an]\" --graph --date=short --date=relative --no-merges 
	mist = log --pretty=format:\"%C(yellow)%h%Cred%d\\ %Creset%ad | %s%d %Cblue[%an]\" --graph --date=short --date=relative
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	filelog = log -u
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
	fl = log -u
	dr  = "!f() { git diff "$1"^.."$1"; }; f"
	lc  = "!f() { git ll "$1"^.."$1"; }; f"
	diffr  = "!f() { git diff "$1"^.."$1"; }; f"
	la = "!git config -l | grep alias | cut -c 7-"
	ours = "!f() { git co --ours $@ && git add $@; }; f"
	theirs = "!f() { git co --theirs $@ && git add $@; }; f"
	type = cat-file -t
	dump = cat-file -p
	grep = grep --break --heading --line-number
	g = grep --break --heading --line-number
	po = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	up = pull --rebase --autostash
[merge]
	conflictstyle = diff3
	tool = diffmerge
[color]
	ui = auto
[credential]
	helper = cache
[push]
	default = simple
[grep]
	lineNumber = true
[mergetool]
	keepBackup = false
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[github]
	user = bronzehedwick
[commit]
	template = /Users/chris/.git_commit_msg.txt
  #gpgsign = true
