*.log
*.cache
aliases.txt
vdirsyncer/.config/vdirsyncer/status
*.weechatlog
sec.conf
*.gz
*.spl
tmux/.tmux/*
fish_variables
pianobar/.config/pianobar/state
alacritty.yml
tmux/.config/tmux/plugins
packer_compiled.vim
