*.log
*.cache
*.gz
*.spl
fish_variables
tmux/.tmux/*
tmux/.config/tmux/plugins
pianobar/.config/pianobar/state
packer_compiled.vim
packer_compiled.lua
.DS_Store
gnupg/.gnupg/crls.d/
gnupg/.gnupg/private-keys-*
gnupg/.gnupg/pubring.kbx*
gnupg/.gnupg/reader*.status
gnupg/.gnupg/trustdb.gpg
gnupg/.gnupg/random_seed
gnupg/.gnupg/.*
