*.log
*.cache
*.gz
*.spl
fish_variables
tmux/.tmux/*
tmux/.config/tmux/plugins
pianobar/.config/pianobar/state
.DS_Store
gnupg/.gnupg/crls.d/
gnupg/.gnupg/private-keys-*
gnupg/.gnupg/pubring.kbx*
gnupg/.gnupg/reader*.status
gnupg/.gnupg/trustdb.gpg
gnupg/.gnupg/random_seed
gnupg/.gnupg/.*
launchctl/Library/LaunchAgents/com.*
launchctl/Library/LaunchAgents/net.*
SessionDesktop.el
fish/.config/fish/conf.d
fish/.config/fish/fish_plugins
fish/.config/fish/functions/_nvm_*
