[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-ipmotion"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-ipmotion
	url = https://github.com/justinmk/vim-ipmotion
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-commentary"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "neovim/.local/share/nvim/site/pack/github/vim-surround"]
	path = neovim/.local/share/nvim/site/pack/github/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-surround"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-repeat"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-unimpaired"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-rsi"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-rsi
	url = https://github.com/tpope/vim-rsi
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-endwise"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-sneak"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "neovim/.local/share/nvim/site/pack/github/start/todo.txt-vim"]
	path = neovim/.local/share/nvim/site/pack/github/start/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
[submodule "neovim/.local/share/nvim/site/pack/github/opt/vim-markdown"]
	path = neovim/.local/share/nvim/site/pack/github/opt/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-eunuch"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-dirvish"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-picker"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-picker
	url = https://github.com/srstevenson/vim-picker
[submodule "neovim/.local/share/nvim/site/pack/github/opt/emmet-vim"]
	path = neovim/.local/share/nvim/site/pack/github/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-dispatch"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-primary-terminal"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-primary-terminal
	url = https://github.com/bronzehedwick/vim-primary-terminal
[submodule "neovim/.local/share/nvim/site/pack/github/start/undotree"]
	path = neovim/.local/share/nvim/site/pack/github/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-fugitive"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "neovim/.local/share/nvim/site/pack/github/start/diffconflicts"]
	path = neovim/.local/share/nvim/site/pack/github/start/diffconflicts
	url = https://github.com/whiteinge/diffconflicts
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-rhubarb"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-javascript"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "neovim/.local/share/nvim/site/pack/github/start/html5.vim"]
	path = neovim/.local/share/nvim/site/pack/github/start/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "neovim/.local/share/nvim/site/pack/github/start/fountain.vim"]
	path = neovim/.local/share/nvim/site/pack/github/start/fountain.vim
	url = https://github.com/vim-scripts/fountain.vim
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-toml"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "neovim/.local/share/nvim/site/pack/github/start/msmtp-syntax.vim"]
	path = neovim/.local/share/nvim/site/pack/github/start/msmtp-syntax.vim
	url = https://github.com/bronzehedwick/msmtp-syntax.vim
[submodule "neovim/.local/share/nvim/site/pack/github/start/nginx.vim"]
	path = neovim/.local/share/nvim/site/pack/github/start/nginx.vim
	url = https://github.com/chr4/nginx.vim
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-jsx-pretty"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-fish"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "neovim/.local/share/nvim/site/pack/github/start/papercolor-theme"]
	path = neovim/.local/share/nvim/site/pack/github/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-closer"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-closer
	url = https://github.com/rstacruz/vim-closer
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-colors-xcode"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-colors-xcode
	url = https://github.com/arzg/vim-colors-xcode.git
[submodule "neovim/.local/share/nvim/site/pack/github/start/vim-matchup"]
	path = neovim/.local/share/nvim/site/pack/github/start/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "neovim/.local/share/nvim/site/pack/github/start/nvim-lspconfig"]
	path = neovim/.local/share/nvim/site/pack/github/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
