set tabsize 4
set tabstospaces
set speller "/usr/local/bin/aspell -x -c"
set softwrap

¨syntax "Email" ".*"
color magenta "^>([^>].*|$)"
color blue "^> ?>([^>].*|$)"
color green "^> ?> ?>([^>].*|$)"
color cyan "^> ?> ?> ?>.*"
color yellow "^> ?> ?> ?> ?>.*"
